@model TempTrackApp.Models.NiveletEere

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NiveletEere</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pershkrimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pershkrimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShpejtesiaMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShpejtesiaMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShpejtesiaMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShpejtesiaMax)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
